/* General settings for the box that contains everything. */
article{
  margin: 80px auto 80px auto;
  width: 860px;
  background-color: var(--background-color);
  border: 1px solid #413956;
  box-shadow: 10px 10px 0px 4px rgba(65, 57, 86, 0.8);
}
.background-image{
    position:fixed;
    top:-160px; bottom:0; left:0; right:0;
    background-size:cover;
    background-position: top left;
    background-image:url(konst.JPG);
    z-index:-2;
    background-attachment:scroll, local;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
.box {
  background-color: var(--background-color);
}
.container {
  width: 668px;
  background-color: var(--background-color);
  margin: 0 auto;
  margin-bottom: 80px;
}
.container--text {
  max-width: 668px;
}

/* Largest Header. */
h1 {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  display: inline-block;
  font-family: league gothic,sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 64px 0 0px;
  margin-top: 0px;
  text-wrap: nowrap;
  padding: 4px;
}

/* Subtitle to h1 header. */
.subtitle {
  font-family: ibm plex sans condensed,noto display light,sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  height: 22px;
  color: var(--text-color);
}

.sm-subtitle {
  font-family: ibm plex sans condensed,noto display light,sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

/* Input box where the end point or start point is inputted. */
.input-text {
  width: 100%;
  padding: 16px 20px 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: ibm plex sans condensed,noto display light,sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 32px;
}
.input-text:hover {
  background-color: #EAEAEA;
  transition: 0.2s;
}
.input-text:focus{
  outline: 2px solid #4E5166;
}

/* Button to initiate the search. */
.search-button {
  width: 100%;
  padding: 16px 20px 16px 20px;
  margin: 24px 0 0 0;
  border: 0px solid #ccc;
  font-family: ibm plex sans condensed,noto display light,sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-transform: uppercase;
  border-radius: 8px;
}
.search-button:hover {
  background-color: var(--button-background-color);
  transition: 0.2s;
}
.search-button:active {
  background-color: var(--button-background-color);
  transition: 0.2s;
}

/* Checkbox */
.passenger-checkbox {
  width: 35px;
  height: 35px;
  border: 0.5px solid #ccc;
  accent-color: var(--button-background-color);
}

.hidden {
  display: none;
}

aside {
    box-shadow: 10px 10px 0px 4px rgba(65, 57, 86, 0.8);
    margin-left:900px;
    background-color: var(--background-color);
    margin-right:auto;
    margin-bottom:auto;
    margin-top:auto;
    width:100%;
    padding:16px;
    max-width:160px;
    border: 1px solid #413956;
    position:absolute;
    float:right;
    display:block;
    border-radius: 4px;
}

/* Style for the range input */
input[type="range"] {
  -webkit-appearance: none; /* Removes default styling */
  appearance: none; /* Removes default styling for non-WebKit browsers */
  width: 16px; /* Adjust width */
  height: 400px; /* Adjust height */
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 8px;
}

/* Track styling */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--button-background-color);
  border-radius: 16px;
  width: 24px;
  writing-mode: vertical-lr
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: #ddd;
  border-radius: 8px;
}

input[type="range"]::-ms-track {
  width: 100%;
  background: var(--button-background-color);
  border-color: var(--button-background-color);
  border-width: 12px 0;
  color: var(--button-background-color);
}

/* Thumb styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb styling */
  appearance: none;
  width: 48px; /* Thumb width */
  height: 48px; /* Thumb height */
  background: #FFF; /* Thumb color */
  border: 14px solid var(--button-background-color);
  border-radius: 50%; /* Circular thumb */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 10px solid var(--button-background-color);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  border: 10px solid var(--button-background-color);
  transition: 0.2s;
}
input[type="range"]::-moz-range-thumb:active {
  border: 10px solid var(--button-background-color);
  transition: 0.2s;
}

input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #007BFF;
  border-radius: 50%;
  cursor: pointer;
}

/* Progress bar styling for Firefox */
input[type="range"]::-moz-range-progress {
  background-color: var(--button-background-color);
  width: 16px;
  border-radius: 8px;
}

img {
   margin-top: 8px;
   margin-left: 9px;
   margin-right: 8px;
}

.filter-red {
  filter: brightness(0) saturate(100%) invert(43%) sepia(28%) saturate(6018%) hue-rotate(335deg) brightness(119%) contrast(89%);
}

th, td {
  border: 1px solid;
  border: 1.5px solid #ccc;
  text-align: center; 
  color: var(--text-color);
  font-family: ibm plex sans condensed,noto display light,sans-serif;
}

table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;  
  font-size: x-large;
}

#more-options {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-text {
  padding-right: 50px;
  padding-left: 5px;
  font-family: ibm plex sans condensed,noto display light,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-color);
}

.box-text-line {
  padding-right: 5px;
  padding-left: 20px;
  font-family: ibm plex sans condensed,noto display light,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-color);
}

.small-field {
  display: inline-block;
}

#tripDate {
  width:180px; 
  display:inline-block;
}

#passengerCount {
  width:100px; float:right;
}

#test { 
  font-family: ibm plex sans condensed,noto display light,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-color);
}

/* Theme variables */
:root {
  --background-color: #FFFFFF;
  --text-color: #413956;
  --header-background-color: #413956;
  --header-text-color: #FFFFFF;
  --button-background-color: #F25757;
  --button-text-color: #F4EDED;
}

body.dark-mode {
  --background-color: #1E1E1E;
  --text-color: #EAEAEA;
  --header-background-color: #3E3E3E;
  --header-text-color: #EAEAEA;
  --button-background-color: #BB86FC;
  --button-text-color: #121212;
}
