<!----------------------------------------------------------------->
<!--                                                             -->
<!-- Utökad Reseplanerare                                        -->
<!--                                                             -->
<!----------------------------------------------------------------->

<!-- Authors: Simon Andersson, Knut Grunewald, Erik Gälldin, Oscar Lindfors -->
<!--            Daniel Olausson, William Sevelin Nordenmark, David Spaberg  -->

<!DOCTYPE html>
<html lang="sv">

  <!----------------------------------------------------------------->
  <!--                                                             -->
  <!-- Head                                                        -->
  <!--                                                             -->
  <!----------------------------------------------------------------->

  <head> 
  
    <!-- Descriptive Information -->
    <meta name="authors" content="Simon Andersson, Knut Grunewald, Erik Gälldin, Oscar Lindfors, Daniel Olausson, William Sevelin Nordenmark, David Spaberg" />
    <meta name="description" content="Reckoner that Estimates The Environmental Effect of Endless Transportation Options in Gothenburg and Environs."
  
    <!-- Title and Icon -->
    <title>Utökad Reseplanerare</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/icon type">
  
    <!-- Linked Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  
    <!-- Page Settinga -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="color-scheme" content="normal" />
    <meta name="robots" content="index, follow" />
    <meta name="referrer" content="no-referrer" />  
    
  </head>
  
  <!----------------------------------------------------------------->
  <!--                                                             -->
  <!-- Body                                                        -->
  <!--                                                             -->
  <!----------------------------------------------------------------->
  
  
  <body>
  
    <div class="background-image" style="background-image:url(static/background.jpg)"></div>
  
    <article>
  
      <aside>

        <input type="range" id="social" name="social" min="0" max="100" orient="vertical"/>
        <input type="range" id="ecological" name="ecological" min="0" max="100" orient="vertical"/>
        <input type="range" id="economical" name="economical" min="0" max="100" orient="vertical"/>
            
        <img class="filter-red"
          src="static/social.svg"
          height="32"
          width="32" />

        <img class="filter-red"
          src="static/environment.svg"
          height="32"
          width="32" />

        <img class="filter-red"
          src="static/economic.svg"
          height="32"
          width="32" />

      </aside>
  
      <div class="container">
    
          <span class="subtitle" style="margin-top:64px;"> ChalmersProjekt </span>
          <h1>Utökad Reseplanerare</h1>
    
          <form id="tripForm">
    
          <span class="subtitle">Från </span>
          <input type="text" style="border-radius:8px;" class="input-text" id="fromDestination" placeholder="" required\>
        
          <span class="subtitle">Till </span>
          <input type="text" style="border-radius:8px;" class="input-text" id="toDestination" placeholder="" required\>

            <div class="small-field">
              <label for="tripDate" class="subtitle">Datum</label>
              <input type="date" id="tripDate" class="input-text" name="tripDate" style="width:180px; display:inline-block;" required>
            </div>
            
            <div class="small-field">
              <label for="tripTime" class="subtitle">Tid</label>
              <input type="time" id="tripTime" class="input-text" name="tripTime" style="width:120px;" required>
            </div>
            
            <div class="small-field" style="float:right;">
              <span class="subtitle">Passagerare </span>
              <input type="number" class="input-text" id="passengerCount" min="1" max="999" value="1" style="width:100px; float:right;"required\>
            </div>
            
          <div id="more-options">
              <input type="radio" class="ticket-option, passenger-checkbox" name="ticket_type" value="pb" checked="checked">
              <label for="pb" class="subtitle"style="margin-top:12px; margin-right:16px;">Periodbiljett</label>
                
              <input type="radio" class="ticket-option, passenger-checkbox" name="ticket_type" value="sb">
              <label for="sb" class="subtitle"style="margin-top:12px; margin-right:16px;">Enkelbiljett</label>
                
              <input type="radio" class="ticket-option, passenger-checkbox" name="ticket_type" value="pl">
              <label for="pl" class="subtitle" style="margin-top:12px; margin-right:16px;">Planka</label>
          </div>
            
            <input type="button" id="search-button" value="Sök resa" \>
        </form>

        <!-- Hidden Table -->
        <div id="results" class="hidden" style="margin-top:48px;">
          <hr class="solid" style="color:#ccc;">
            <h1 style="margin-top:48px; margin-bottom:16px;">Trip Details</h1>
            <table>
                <thead>
                    <tr>
                        <th>Transportation</th>
                        <th>CO₂ Emissions</th>
                        <th>Price</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody id="tbod"></tbody>
            </table>
        </div>
      </div>

      <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    
    </article>
    
  </body>
  
</html>
